@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@font-face {
    font-family: "pasione";
    src: url("Passion_One/PassionOne-Bold.ttf") format("truetype");
}

:root{

    --font-padrao: Arial , Helvetica, Sans-Serif ;
    --font-versos : 'Sriracha', cursive ;
    --font-destaque : "pasione" ;
}





*{
    margin: 0px;
    padding: 0px;
}


html, body{
    min-height: 100vh;
    font-family: var(--font-padrao);
}

header{
    background-color: black;
    padding: 10px;
   
    text-align: center;
    margin-bottom: 20px;
}

header h1{
    color: white;
    padding-top: 50px;
    font-family: var(--font-destaque);
    margin-bottom: 10px;
    font-size: 10vw;
    font-variant: small-caps;
}

header a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.91);
    padding-bottom: 50px;
}

header  a > strong{
    color: white;
}
header a:hover{
   text-decoration: underline;
}

 #principal {
    font-family: var(--font-versos);
    
    padding: 20px;
    background-color: white;
    color: black;
}

 #contenier{
    position: relative;
    background-image: url("imagens/background001.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.376);

   
}

 #conteudo{
    position: absolute;
   background-color: rgba(0, 0, 0, 0.193);
    padding: 20px;
   top: 20%;
    color: white;
    text-shadow: 1px 1px 0px black;
    max-width: 400px;
}

 #contenier2{
    position: relative;
    background-image: url("imagens/background002.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.376);

}

 #conteudo2{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.293);
    padding: 20px;
   top: 20%;
   left: 2%;
    color: white;
    text-shadow: 1px 1px 0px black;
    max-width: 400px;

}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    
    
}
section p{
    padding-bottom: 1em;
}
footer{
    font-family: var(--font-destaque);
    color: white ;
    background-color: black;
    text-align: center;
    padding: 3px;
}